body{
    margin: 0;
    padding: 0;
}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 6px solid black;
    background-color: white;
}
div a{
    text-decoration: none;
    color:  rgb(12, 12, 189);
    font-size: 22px;
}
button{
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-radius: 60px;
    font-size: 22px;background-color: rgb(12, 12, 189);
    color: white;
    cursor: pointer;

}